DATABASE_URL=postgresql://postgres:autochain_dev@localhost:5432/autochain
KAFKA_BROKER=localhost:9094
NODE_ENV=development
WORKER_CONCURRENCY=5

# Optional integrations
SMTP_ENDPOINT=
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SOL_PRIVATE_KEY=
